:root{
  --main-font:"Open Sans";
  --second-font:"Montserrat";
  --third-font:"Roboto";
}

*{
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin-inline: auto;
  width: 1440px;
}

header{
  display: flex;
  justify-content: space-around;
  padding-inline: 165px;
  padding-block: 30px;
}

.header nav{
  display: flex;
  gap: 40px;
}

.header-nav a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  font-family: var(--main-font);
  padding: 5px;
}

.header-avatar img{
  vertical-align: middle;
  margin-right: 8px;
}

.header-avatar a{
  text-decoration: none;
  color: black;
  font-family: var(--third-font);
  font-weight: 400;
  line-height: 28px;
}
/* header part over */

h1{
  font-size: 80px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: -0.8999999761581421px;
  font-family: var(--second-font);
  color: white;
}

.main-content{
  position:relative;
  margin-bottom: 64px;
}

.main-content-text{
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 400px;
  text-align: center;
}

.main-content-text a{
  display: inline-block;
  text-decoration: none;
  background-color: #FD7E14;
  color: white;
  border-radius:3px ;
  padding: 16px 64px;
  text-align: center;
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  margin-top: 40px;
}

/* recipe nav part coming */

.recipe-content{
  display: flex;
  padding-inline: 165px;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 112px;
  cursor: pointer;
}

h5{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
  margin-top: 8px;
}

/* latest recipe coming */
h2{
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 165px;
}

.latest-recipes-content-inner{
  width: 250px;
}

.latest-recipes-content{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-inline: 165px;
}

.latest-recipes-content-inner a{
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  color: #212121;
}

.load-more{
  display: inline-block;
  padding: 16px 48px;
  border-radius: 3px;
  text-decoration: none;
  color:#121212;
  border: 1px solid #121212;
  text-align: center;
  margin-top: 45px;
  margin-left: 608px;
  font-family: var(--second-font);
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 80px;
}
/* input-content part coming */
.input-content{
padding-inline: 165px;
position: relative;
margin-bottom: 120px;
}

.input-text{
  position: absolute;
  z-index: 2;
  bottom: 96px;
  left:520px;
}

h3{
  font-family: var(--second-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  text-align: center;
}

.input-text img{
  margin-top: 16px;
  margin-left: 45px;
  cursor:text;
}
/* highlighted part coming */

.highlight-content{
  padding-inline: 165px;
  display: flex;
  flex-direction:row-reverse;
  margin-bottom: 120px;
}
.highlighted-text{
  margin-top: 86px;
}

.highlighted-text h6{
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}

h4{
  font-family: var(--second-font);
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.699999988079071px;
  text-align: left;
  color: black;
  margin-top: 16px;
  margin-bottom: 32px;
}

.highlighted-text a{
  padding: 16px 64px;
  border-radius: 3px;
  color: white;
  background-color: #FD7E14;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  font-family: var(--second-font);
  text-decoration: none;
}

/*  Featured content start*/

.featured-inner{
  display: flex;
  gap: 24px;
  padding-inline: 165px;
  margin-bottom: 80px;
}

.featured-text{
  font-family: var(--second-font);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  text-align: left;
  margin-top: 16px;
}

.featured-inner img{
  border-radius: 15px;
}

.featured-inner-left{
  position: relative;
}

.featured-inner-left a{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  padding: 4px 24px;
  background-color: white;
  color: black;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2;
}

.featured-inner-right{
  position: relative;
}

.featured-inner-right a{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  padding: 4px 24px;
  background-color: white;
  color: black;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2;
}

/* footer part coming */

footer{
  padding-inline: 165px;
  padding-top: 56px;
  padding-bottom: 40px;
  border-top: 1px solid #EAEAEA; 
}

.footer-up{
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}

.footer-up-links{
  display: flex;
  gap: 56px;
}

.footer-up-links a{
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.footer-down{
  display: flex;
  justify-content: space-between;
}

.footer-text{
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #807E7E;
}

.footer-down-logos{
  display: flex;
  gap: 40px;
}

/* OVER */
